<div class="container">
    <div class="logo">
        <a routerLink="/home">
            <img src="../../assets/Logo.png" alt="logo">
        </a>
        <p>
            Awesome Cosmic Mars
        </p>
    </div>

    <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/home#photos">Amazing Photo</a>
        <a routerLink="/home#about">About Us</a>
        <a routerLink="/home#contact">Contact</a>
    </nav>

    <div class="menu">

        <input id="menu_toggle" type="checkbox" />
        <label class="menu_btn" for="menu_toggle">
            <span></span>
        </label>

        <ul class="menu_box">
            <li class="menu_item"><a routerLink="/home">Home</a></li>
            <li class="menu_item"><a routerLink="/home#photos">Amazing Photo</a></li>
            <li class="menu_item"><a routerLink="/home#about">About Us</a></li>
            <li class="menu_item"><a routerLink="/home#contact">Contact</a></li>
        </ul>

    </div>

</div>